  /* Estilo con menú en modo dia/noche. */

  * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    /*-------Colores---------*/
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

    /*-----Transiciones------*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
  }

  body {
    height: 100vh;
    background: var(--body-color);
  }

  /*--------CSS reusable---------------*/

  /*--------Menú y encabezado----------*/
  .menu {
    background: var(--sidebar-color);
  }

  .encabezado header {
    background-color: var(--body-color);
    display: flex;
    align-items: center;
  }

  .encabezado .caja-logo-empresa {
    background-color: var(--primary-color);
    width: 20%;
    height: 8%;
    margin: 5% 2%;
    display: flex;
    align-items: center;
    border-radius: 5px;
  }

  .encabezado .logo-empresa {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 2px;
  }

  .encabezado .titulo,
  h2 {
    display: flex;
    align-items: center;
    color: var(--text-color);
    /*margin-left: 15%;*/
  }

  /*----------Estilo página principal----------*/

  .cuerpo_sistema {
    display: flex;
    justify-content: center;
    border-color: #000;
    border-radius: 5%;
    background-color: red;
  }

  .estado_sistema {
    width: 90%;
    border-color: #000;
    background-color: var(--primary-color);
    border-radius: 5%;
    box-shadow: 5px 5px 10px#999;
    padding: 5%;
    margin: 0 auto;
    text-align: left;
  }

  .cuerpo_sistema .controles_sistema {
    width: 40%;
    border-color: #000;
    background-color: var(--primary-color);
    border-radius: 5%;
    box-shadow: 5px 5px 10px#999;
    padding: 5%;
    margin: 5%;
    margin-left: 0px;
  }

  .cuerpo_sistema .monitor_sistema {
    width: 40%;
    border-color: #000;
    background-color: var(--primary-color);
    border-radius: 5%;
    box-shadow: 5px 5px 10px#999;
    padding: 5%;
    margin: 5%;
    margin-right: 0px;
  }

  .menu nav a {
    text-decoration: none;
    font-size: 20px;
    color:  #000;
    font-size: 14px;
  }

  .menu nav a:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-light);
    transition: var(--tran-04);
  }

  .menu nav li {
    list-style: none;
    display: inline-block;
    width: 20%;
    padding: 5px 10px;
    background-color: var(--primary-color-light);
    text-align: center;
    border-radius: 5%;
    cursor: pointer;
  }

  .menu nav li:hover,
  .button:hover {
    background-color: var(--primary-color);
    transition: var(--tran-04);
    color: var(--text-color);
  }

  /* Estilo original en blanco y negro.*/
  /*html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
  }
  h1, h2 {
    color: #0F3376;
    padding: 2vh;
  }
  p{
    font-size: 1.5rem;
  }
  .button {
    display: inline-block;
    width: 90%;
    font-size: 70%;
    padding: 5px 10px;
    background-color: #000;
    border: 1px solid #000;
    text-align: center;
    color: #fff;
    border-radius: 5%;
    cursor: pointer;
  }
  
  .button2 {
    background-color: #f44336;
  }

 Formato de la caja de control del sistema.

  .cuerpo_sistema {
    display: flex;
    justify-content: center;
    border-color: #000;
    border-radius: 5%;
  }

  .estado_sistema {
    width: 80%;
    border-color: #000;
    background-color: #999;
    border-radius: 5%;
    box-shadow: 5px 5px 10px#999;
    margin: 0 auto;
    text-align: left;
  }

  .controles_sistema {
    width: 40%;
    border-color: #000;
    background-color: #999;
    border-radius: 5%;
    box-shadow: 5px 5px 10px#999;
    margin-left: 0px;
  }

  .monitor_sistema {
    width: 40%;
    border-color: #000;
    background-color: #999;
    border-radius: 5%;
    box-shadow: 5px 5px 10px#999;
    margin-right: 0px ;
  }

   Formato para imagen de la página no encontrado.

  .page-image img {
    width: 100%;
    height: auto;
    border-radius: 5%;
    box-shadow: 5px 5px 10px #999;
  }

   Comfiguración del menú del sistema.

  .menu nav a {
    text-decoration: none;
    font-size: 20px;
    color: inherit;
    font-size: 14px;
  }

  .menu nav li {
    list-style: none;
    display: inline-block;
    width: 20%;
    padding: 5px 10px;
    background-color: #000;
    border: 1px solid #000;
    text-align: center;
    color: #fff;
    border-radius: 5%;
    cursor: pointer;
  }

  .menu nav li:hover,
  .button:hover {
    background-color: #fff;
    color: #000;
    transition: 0.4s;
  }
  */