html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
  }
  h1, h2 {
    color: #0F3376;
    padding: 2vh;
  }
  p{
    font-size: 1.5rem;
  }
  .button {
    display: inline-block;
    width: 90%;
    font-size: 70%;
    padding: 5px 10px;
    background-color: #000;
    border: 1px solid #000;
    text-align: center;
    color: #fff;
    border-radius: 5%;
    cursor: pointer;
  }
  
  .button2 {
    background-color: #f44336;
  }

  /* Formato de la caja de control del sistema. */

  .cuerpo_sistema {
    display: flex;
    justify-content: center;
    border-color: #000;
    border-radius: 5%;
  }

  .estado_sistema {
    width: 80%;
    border-color: #000;
    background-color: #999;
    border-radius: 5%;
    box-shadow: 5px 5px 10px#999;
    margin: 0 auto;
    text-align: left;
  }

  .controles_sistema {
    width: 40%;
    border-color: #000;
    background-color: #999;
    border-radius: 5%;
    box-shadow: 5px 5px 10px#999;
    margin-left: 0px;
  }

  .monitor_sistema {
    width: 40%;
    border-color: #000;
    background-color: #999;
    border-radius: 5%;
    box-shadow: 5px 5px 10px#999;
    margin-right: 0px ;
  }

  /* Formato para imagen de la página no encontrado. */

  .page-image img {
    width: 100%;
    height: auto;
    border-radius: 5%;
    box-shadow: 5px 5px 10px #999;
  }

  /* Comfiguración del menú del sistema. */

  .menu nav a {
    text-decoration: none;
    font-size: 20px;
    color: inherit;
    font-size: 14px;
    /*display: flex;
    float: left;
    justify-content: center;*/
  }

  .menu nav li {
    list-style: none;
    display: inline-block;
    width: 20%;
    padding: 5px 10px;
    background-color: #000;
    border: 1px solid #000;
    text-align: center;
    color: #fff;
    border-radius: 5%;
    cursor: pointer;
  }

  .menu nav li:hover,
  .button:hover {
    background-color: #fff;
    color: #000;
    transition: 0.4s;
  }